In [5]:
import numpy as np
import pandas as pd

In [6]:
# Read Well Maps
df= pd.read_csv('./public/data/data.csv', header=[0])

In [7]:
df.head()

,id,name,region,pop,gdp,gdppc,year
0,AFG,Afghanistan,Asia,38928341.0,1.980707e+10,508.81,2020.0
1,AGO,Angola,Africa,32866268.0,6.230691e+10,1895.77,2020.0
2,ALB,Albania,Europe,2837743.0,1.479962e+10,5215.28,2020.0
3,AND,Andorra,Europe,77146.0,3.155065e+09,40897.33,2019.0
4,ARE,United Arab Emirates,Asia,9770526.0,4.211423e+11,43103.34,2019.0

In [9]:
df['gdppc1'] = df['gdppc']

In [10]:
df.to_csv('./public/data/data5.csv',  index=False)

In [11]:
df.head()

,id,name,region,pop,gdp,gdppc,year,gdppc1
0,AFG,Afghanistan,Asia,38928341.0,1.980707e+10,508.81,2020.0,508.81
1,AGO,Angola,Africa,32866268.0,6.230691e+10,1895.77,2020.0,1895.77
2,ALB,Albania,Europe,2837743.0,1.479962e+10,5215.28,2020.0,5215.28
3,AND,Andorra,Europe,77146.0,3.155065e+09,40897.33,2019.0,40897.33
4,ARE,United Arab Emirates,Asia,9770526.0,4.211423e+11,43103.34,2019.0,43103.34